.heading {
  text-align: center;
}

.topContent {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.tcLeft,
.tcRight {
  padding: 2rem;
}

.tcLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  width: calc(600px - 5vw);
  max-height: 600px;
  object-fit: cover;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 1rem;
  border: 1px solid var(--blueii);
  aspect-ratio: 1 / 1;
}

.tcRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.copy {
  text-align: center;
  width: 60%;
}

.videoii {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  padding: 1rem;
  border: 1px solid var(--blueii);
  aspect-ratio: 1 / 1;
}

.bBottom {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  padding: 2rem;
  border: 1px solid var(--blueii);
}

.bBottom .copy {
  width: 90%;
}

@media screen and (max-width: 1068px) {
  .video {
    width: calc(500px - 5vw);
    max-height: 500px;
  }

  .copy {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .topContent {
    grid-template-columns: repeat(1, 1fr);
  }

  .btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .video {
    width: calc(400px - 5vw);
    max-height: 400px;
  }

  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .btnContainer {
    display: grid;
    width: 100%;
  }

  .video {
    width: calc(250px - 5vw);
    max-height: 250px;
  }
}
