.contentTop {
  background-color: var(--purple);
  display: grid;
  grid-template-columns: 1.5fr 4.5fr;
  padding: 2rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10rem;
}

.intro {
  font-family: var(--interTight);
  font-weight: 700;
  text-transform: uppercase;
}

.rightBottom {
  margin-top: 3rem;
}

.carouselContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  min-height: 350px;
}

.name {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
  display: block;
}

.cardRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
}

.imgContainer {
  position: relative;
  width: 400px;
  height: 400px;
  border: 1px solid var(--blue);
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.img {
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  object-fit: cover;
  padding: 1rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrowBoxParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

.arrowBox {
  border: 1px solid var(--blueii);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.arrowBox:hover {
  background-color: var(--blue);
}

.icon {
  width: 3rem;
  height: 3rem;
  color: var(--blueii);
}

.indicators {
  display: flex;
  gap: 0.5rem;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.indicator:hover {
  transform: scale(1.2);
}

.activeIndicator {
  background-color: var(--blueii);
}

@media screen and (max-width: 1068px) {
  .card {
    grid-template-columns: repeat(1, 1fr);
  }

  .copy {
    width: 100%;
  }

  .arrowBoxParent {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
    gap: 5rem;
  }
}

@media screen and (max-width: 968px) {
  .contentTop {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }

  .card {
    gap: 5rem;
  }

  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .imgContainer {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 480px) {
  .imgContainer {
    width: 230px;
    height: 230px;
  }
}
