/* components/shared/Categories/Categories.module.css */

.container {
  padding: 4rem 0;
}

.content {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}

.top {
  /* border-bottom: 1px solid var(--blueii); */
  padding-bottom: 3rem;
}

.bottom {
  display: grid;
  grid-template-areas:
    "one two three"
    "one four four";
  grid-template-columns: repeat(3, 1fr);
}

.card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
  border: 1px solid var(--blueii);
  border-right: none;
}

.bottom .card:nth-child(1) {
  grid-area: one;
}

.bottom .card:nth-child(2) {
  grid-area: two;
}

.bottom .card:nth-child(3) {
  grid-area: three;
  border-right: 1px solid var(--blueii);
}

.bottom .card:nth-child(4) {
  grid-area: four;
  border-top: none;
  border-right: 1px solid var(--blueii);
}

.cardTitle {
  font-size: 2rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  min-height: 250px;
  height: 100%;
  overflow: hidden;
}

.img {
  object-fit: cover;
  transition: all 0.2s ease-in;
}

.imgContainer:hover .img {
  scale: 1.1;
}

@media screen and (max-width: 1068px) {
  .bottom {
    display: grid;
    grid-template-areas:
      "one two"
      "one three"
      "four four";
    grid-template-columns: repeat(2, 1fr);
  }

  .bottom .card:nth-child(2) {
    border-right: 1px solid var(--blueii);
  }

  .bottom .card:nth-child(3) {
    border-top: none;
  }
}

@media screen and (max-width: 668px) {
  .bottom {
    display: grid;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four";
    grid-template-columns: repeat(1, 1fr);
  }

  .bottom .card:nth-child(1) {
    border-right: 1px solid var(--blueii);
  }

  .bottom .card:nth-child(2) {
    border-top: none;
  }
}
