.content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5rem;
}

.heading {
  color: var(--blue);
  text-align: center;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 400px;
}

.img {
  border-radius: 500px;
  object-fit: cover;
  padding: 1rem;
  border: 1px solid var(--blue);
}

.icon {
  color: var(--gray);
}
