.content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem;
}

.heading {
  color: var(--blue);
  text-align: center;
}

.bottom {
  position: relative;
}

.shineBoxContainer {
  position: absolute;
  z-index: 5;
  top: 1px;
  right: 20%;
}

.shineBoxContainerii {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 20%;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 350px;
}

.img {
  border-radius: 500px;
  object-fit: cover;
  padding: 1rem;
  border: 1px solid var(--blue);
}

.copy {
  width: 50%;
  color: var(--blue);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  
}
