.content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem;
}

.bottom {
  position: relative;
}

.shineBoxContainer {
  position: absolute;
  z-index: 5;
  top: 1px;
  right: 20%;
}

.shineBoxContainerii {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 20%;
}

.overlay {
  pointer-events: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 500px;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  background-color: var(--black);
  opacity: 0.5;
  z-index: 3;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 360px;
}

.img {
  border-radius: 500px;
  object-fit: cover;
  padding: 1rem;
  border: 1px solid var(--blueii);
}

.contentChildren {
  position: absolute;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  z-index: 5;
}

.heading {
  color: var(--tan);
  text-align: center;
}

.copy {
  width: 50%;
  color: var(--tan);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* .btnContainer {
  display: grid;
  width: 20%;
} */


@media screen and (max-width: 1268px) {
  .shineBoxContainer {
    right: 25%;
  }

  .shineBoxContainerii {
    left: 25%;
  }
}

@media screen and (max-width: 968px) {



  .copy {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .shineBoxContainer {
    right: 45%;
  }

  .shineBoxContainerii {
    left: 45%;
  }

  .copy {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .imgContainer {
    border-radius: 0px;
    height: 375px;
  }

  .img, .overlay {
    border-radius: 0px;
    border-top-right-radius: 70px;
  }

  .copy {
    width: 80%;
  }
}

@media screen and (max-width: 568px) {
  .imgContainer {
    border-radius: 0px;
    height: 90vh;
  }
}
