.contentTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10rem;
}

.intro {
  font-family: var(--interTight);
  font-weight: 700;
  text-transform: uppercase;
}

.heading {
  text-align: center;
}

.right {
  border-bottom: 1px solid var(--blueii);
  padding-bottom: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 3rem;
  margin-top: 1rem;
  width: 80%;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.topText {
  color: var(--blue);
  font-weight: 500;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.qaContainer {
  padding: 3rem 2rem;
  background-color: var(--purple);
  border: 1px solid var(--gray);
  width: 100%;
  cursor: pointer;
  user-select: none;
}

.answerContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.answerContainer.show {
  max-height: 350px;
  /* padding: 2rem; */
}

.headingArrowContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.h3Container {
  display: flex;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.iconFlip {
  transform: rotate(180deg);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.index {
  margin-right: 1rem;
  font-size: 2rem;
}

.question {
  font-size: 1.6rem;
}

.answer {
  width: 95%;
  color: var(--blueii);
  margin-top: 2rem;
  font-size: 1.4rem;
}

@media screen and (max-width: 968px) {
  .content {
    width: 100%;
    margin-top: 0rem;
  }

  .right {
    padding-bottom: 2rem;
  }

  .topText {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 820px) {
  .bottom {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .top .topText {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .heading {
    font-size: 6rem;
  }

  .btnContainer {
    display: grid;
    width: 100%;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 100%;
  height: 300px;
  position: relative;
  /* “0 -10px 20px” means the shadow is offset -10px on the Y-axis (above). */
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.2);
}

.cardInner {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  will-change: transform;
}

.card1 .cardInner {
  background-color: var(--gray);
}
.card2 .cardInner {
  background-color: var(--lightGray);
}
.card3 .cardInner {
  background-color: var(--orange);
}
.card4 .cardInner {
  background-color: var(--tan);
}

.titleHeading {
  font-size: 15rem;
  z-index: 2;
  letter-spacing: -5px;
}

.card1 .cardInner .titleHeading {
  color: var(--tan);
}

.card2 .cardInner .titleHeading {
  color: var(--black);
}

.card4 .cardInner .titleHeading {
  color: var(--gray);
}

/* .card1 .titleHeading,
.card4 .titleHeading {
  color: #07feff;
  text-shadow: 0 0 10px rgba(7, 254, 255, 0.7);
  background: rgba(7, 254, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 0.5rem 1rem;
  border: 1px solid rgba(7, 254, 255, 0.3);
  display: inline-block;
  transform: perspective(1000px) translateZ(0);
  box-shadow: 0 0 15px rgba(7, 254, 255, 0.2);
} */

.blackDot {
  position: absolute;
  top: 35;
  right: 35;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--black);
}

.card1 .cardInner .blackDot {
  background-color: var(--tan);
}

.card4 .cardInner .blackDot {
  background-color: var(--gray);
}

@media screen and (max-width: 1268px) {
  .card {
    height: 250px;
  }

  .titleHeading {
    font-size: 10rem;
  }

  .blackDot {
    top: 30;
    right: 30;
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 868px) {
  .titleHeading {
    font-size: 17vw;
    letter-spacing: -4px;
  }

  .blackDot {
    top: 25;
    right: 25;
    width: 25px;
    height: 25px;
  }
}
